*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka One', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

.background-color{
    width: 100%;
    background-color: rgb(126, 126, 223);
}
p{
    padding: 30px 0px;
}
.icon{
    text-align: center;
    font-size: 90px;
    color: #5e6aff;
}

.top-bar{
    width: 425px;
    display: flex;
    justify-content: space-between;
    padding: 18px 30px;
    align-items: center;
    margin: 0 auto;
}
.prime-card-main a{
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 13px 70px;
    background-color: rgb(126, 126, 223);
    border-radius: 25px;
}
.prime-card-main{
    width: 100%;
    background-color: rgb(198, 198, 248);
    margin-top: 40px;
    border-radius: 37px;
    padding-top: 75px;
    padding: 69px 31px;
}
.prime-card-main-2{
    width: 100%;
    background-color: rgb(198, 198, 248);
    margin-top: 40px;
    border-radius: 37px;
    padding-top: 75px;
    padding: 20px 46px;
    text-align: center;
}
.img1{
    width: 300px;
    position: relative;
    bottom: -74px;
    left: 11px;
}

.first-section{
    width: 380px;
    margin: 0 auto;
    margin-top: 60px;
}