*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka One', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}
/*********
   header
**********/
.background-color{
    width: 100%;
    background-color: rgb(126, 126, 223);
    position: fixed;
    z-index: 1;
}
.top-bar{
    width: 425px;
    display: flex;
    justify-content: space-between;
    padding: 18px 30px;
    align-items: center;
    margin: 0 auto;
    color: #fff;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    padding-right: 10px;
    display: none;
    align-self: center;
}
.bottone-3{
    padding: 10px;
    background-color: #fff;
    color: black;
    border-radius: 20px;
}
.panino{
    display: inline;
}
p{
    padding: 30px 0px;
    line-height: 30px;
}

.icon{
    text-align: center;
    font-size: 90px;
    color: #5e6aff;
}

.prime-card-main a{
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 13px 100px;
    background-color: rgb(126, 126, 223);
    border-radius: 25px;
}
.prime-card-main{
    width: 100%;
    background-color: rgb(198, 198, 248);
    border-radius: 37px;
    padding-top: 75px;
    padding: 0px 31px;
    padding-top: 40px;
}
.gestione-img{
    padding-top: 40px;
    align-self: flex-end;
}
.prime-card-main-2{
    width: 100%;
    background-color: rgb(198, 198, 248);
    margin-top: 40px;
    border-radius: 37px;
    padding-top: 75px;
    padding: 20px 30px;
    text-align: center;
}
.img1{
    width: 300px;
    position: relative;
    top: 5px;
    
} 

.colore-h2{
    color: #5e6aff;
    font-size: 30px;
}
.colore-h2-2{
    color: #9593e6;
    font-size: 35px;
}
.first-section{
    width: 365px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 130px;
}
.background-color-2{
    width: 100%;
    background-color: rgb(149 147 230);
}
.second-section{
    width: 365px;
    margin: 0 auto;
    margin-top: 60px;
    padding-bottom: 40px;
}
.img2{
    width: 380px;
}
.img3{
    width: 380px;
}
.div-1{
    padding-top: 100px;
}
.colore-testo{
    color: white;
}
.background-bianco{
    background-color: #fff;
    border-radius: 45px;
    text-align: center;
    padding: 42px 19px;
}
.arrow{
    padding: 20px;
    background-color: rgb(126, 126, 223);
    border-radius: 30px;
}

/* testimonial */
.immagine-border-radius{
    object-fit: cover;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    padding: 10px
}
.testi{
    text-align: center;
}
.testimonial{
    color: #fff;
    background-color: rgb(158 157 227);
}
.third-section{
    width: 365px;
    margin: 0 auto;
    margin-top: 60px;
    padding-bottom: 40px;
}
.prime-card-main-3{
    width: 100%;
    margin-top: 40px;
    border-radius: 37px;
    padding-top: 75px;
    padding: 20px 30px;
    text-align: center;
}

/* BENEFIT */
.elenco{
    text-align: center;
    padding: 60px 0px;
    width: 365px;
    margin: 0 auto;
}
.benefits{
    background-color: #fff;
    padding: 10px 20px;
    text-align: left;
    border-radius: 25px;
    margin-top: 15px;
}
.more{
    background-color: #9593e6;
    padding: 15px 50px;
    text-decoration: none;
    border-radius: 20px;
}
.elenco-benefit{
    padding-top: 40px;
}
.numeri{
    font-size: 40px;
    color: #9593e6;
}
.bottone{
    padding: 10px;
    background-color: #9593e6;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
h3{
    color: #9593e6;
}
.elenco h2{
    color: #fff;
}
.numeri i{
    padding-right: 5px;
}
/* about us */
.about{
    width: 365px;
    margin-top: 30px;
    margin: 0 auto;
    padding: 61px 0px;
}
.about-img{
    width: 220px;
    border-radius: 138px;
}
.quote{
    font-size: 90px;
    position: relative;
    right: 65px;
    bottom: 150px;
    color: #9593e6;
}

/* GET STRTED */
.ultimo-div{
    width: 100%;
    background-color: #9593e6;
}
.started{
    width: 370px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
    color: #fff;
}
.bottone-2{
    padding: 20px 75px;
    background-color: #fff;
    color: #9593e6;
    border-radius: 37px;
    text-decoration: none;
}
.free{
    font-size: 53px;
    color: #ffb836;
}
 footer{
     background-color: rgb(53, 49, 49);
     color: white;
 }
.foot{
    text-align: center;
    width: 370px;
    margin: 0 auto;
    padding-top: 40px;

}
/* TABLET */
@media screen and (min-width: 768px){
    .top-bar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 18px 30px;
        align-items: center;
        margin: 0 auto;
    }
    .first-section{
        width: 95%;
        margin: 0 auto;
        padding-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .prime-card-main{
        width: 64%;
        background-color: rgb(198, 198, 248);
        margin-top: 40px;
        border-radius: 37px;
        padding-top: 75px;
        padding: 0px 31px;
    }
    .prime-card-main-2{
        width: 31%;
        background-color: rgb(198, 198, 248);
        margin-top: 40px;
        border-radius: 37px;
        padding-top: 75px;
        padding: 20px 30px;
        text-align: center;
    }
    .second-section{
        width: 95%;
    }
    .third-section{
        width: 95%;
    }
    .prime-card-main-3{
        width: 100%;
        margin-top: 40px;
        border-radius: 37px;
        padding: 20px 11px;
        display: flex;
        align-items: center;
        text-align: start;
    }
    .elenco{
        width: 90%;
    }
    .elenco-benefit{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .benefits{
        width: 49%;
    }
    .about{
        width: 95%;
        display: flex;
        justify-content: space-around;
    }
    .about-1{
        width: 46%;
    }
    .about-2{
        width: 25%;
    }
    .quote{
        bottom: 240px;
        left: 154px;
    }
}

@media screen and (min-width: 992px){
    .top-bar{
        width: 80%; 
    }
    ul li{
        display: inline;
    }
    .panino{
        display: none;
    }
    .first-section{
        width: 81%;
    }
    .prime-card-main a{
        padding: 12px 29px;
    }
    .prime-card-main{
        padding-top: 25px;
        display: flex;
    }
    .prime-card-main-2{
        width: 31%;
    }
    .second-section{
        width: 69%;
        display: flex;
        justify-content: space-between;
    }
    .img2{
        width: 410px;
        padding: 97px 0px;
    }
    .img3{
        width: 250px;
    }
    .div-1{
        width: 48%;
    }
    .background-bianco{
        background-color: #fff;
        border-radius: 45px;
        text-align: center;
        padding: 10px 21px;
        align-self: self-end;
        width: 38%;
    }
    .third-section{
        width: 80%;
    }
    .elenco{
        width: 80%;
    }
    .benefits{
        width: 32%;
    }
    .about{
        width: 80%;
    }
}
@media screen and (min-width: 1516px){
    .quote {
        bottom: 163px;
        left: -70px;
    }
}